<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="toplogo" href="/drinks">
    <img src="/img/gitpub_logo_obilo_nwokogba_svg.svg" class="toplogo"/>
    </a>

    <ul class="navbar-nav mr-auto">
    </ul>
</nav>