<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }

        img {
            width: 300px;
        }
    </style>
    <a href="/drinks">Back to menu </a>
    <h1>At foo bar</h1>
    <h2>
        <%=food.name%>
    </h2>

    <img src="<%=food.image%>">
    <h3>
        $ <%=food.price%>
    </h3>
    <script src="" async defer></script>
</body>

</html>