* {
  box-sizing: border-box;
  font-family: 'Benne', serif;
}

body {
  background-color: rgb(208, 233, 223);
  text-align: center;
  margin: 0 auto;
  width: 500px;
  border-top:solid 10px rgb(47, 129, 86);
  font-family: 'Benne', serif;
  padding-top:20px;
}

a {
  color:rgb(24, 98, 60);
  margin-bottom:8px;
}

img.toplogo {
  max-width: 300px;
}

img.itemphoto{
  width:400px;
  max-height:400px;
  max-width:400px;
  padding:10px;
  border:dotted 3px rgba(24, 98, 60, 0.424);
}

.footer{
  margin:0 auto;
  width:500;
}

.price{
  color:white;
  margin-top:-70px;
  font-size:5em;
  text-shadow: 
    1px 0px 1px rgb(4, 70, 21), 0px 1px 1px rgb(11, 83, 29), 
    2px 1px 1px rgb(4, 70, 21), 1px 2px 1px rgb(11, 83, 29),
    3px 2px 1px rgb(4, 70, 21), 2px 3px 1px rgb(11, 83, 29),
    4px 3px 1px rgb(4, 70, 21), 3px 4px 1px rgb(11, 83, 29),
    5px 4px 1px rgb(4, 70, 21), 4px 5px 1px rgb(11, 83, 29),
    6px 5px 1px rgb(4, 70, 21), 5px 6px 1px rgb(11, 83, 29),
    7px 6px 1px rgb(4, 70, 21);
    /* Thank you to CSS Tricks. Modified their shadow
    https://css-tricks.com/almanac/properties/t/text-shadow/
    */
}

div.menuitem{
  border-bottom: dotted 3px rgba(126, 126, 126, 0.548);
  padding:4px;
  transition: 0.3s ;
  font-size:1.3em;

}

div.menuitem > a{
  text-decoration: none;

}

div.menuitem:hover{
  zoom:1.1;
}

.footerbox{
  margin-top:50px;
}